@model IEnumerable<PCR.Models.ViewModels.SamplesPdf>

@{
    Layout = "_ManageLayout";

}

@section ul{
  <ul class="navbar-nav ml-auto">

      <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Home</a></li>
      <li class="nav-item">  <a class="nav-link" href='javascript:history.go(-1)'>Back</a></li>

  </ul>
  @*<link rel="stylesheet" href="~/new/css/doctor.css" />*@

  <form class="form-inline">

    <button asp-controller="Account" asp-action="Logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
  </form>

}

<form method="post" asp-action="Helper">
  <table class="table">
    <thead class="thead-dark">
      <tr>


        <th scope="col">Reportid</th>
        <th scope="col">Patient</th>
        <th scope="col">Pass number</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>

      @foreach (var user in Model)
      {
          <tr>
              <td>@user.Reportid</td>
              <td>@user.Patient</td>
              <td>@user.PassportNumber</td>


              <td>
                  <select name="result">
           
                      <option selected="selected">Positive</option>
                      <option selected="selected">Negative</option>
                  </select>
              </td>

          </tr>
          //Patient
          <input type="hidden" name="SampleName" value="@user.SampleName" />
          <input type="hidden"  name="Reportid" value="@user.Reportid" />
      }

    </tbody>
  </table>
 

  <input class="button" type="submit" value="Save" />
</form>